<div>
  <h1>Inicio de la informacion</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor doloribus et harum explicabo, reprehenderit dolorum, atque mollitia quis exercitationem recusandae sunt, corrupti facilis non? Officiis obcaecati fugit ipsum repellendus.</p>
</div>