<header>
  <div class="nav">
    <a [routerLink]="['home']" routerLinkActive="activo">Home</a>
    <a [routerLink]="['about']" routerLinkActive="activo">About</a>
    <a [routerLink]="['contact']" routerLinkActive="activo">Contacto</a>
  </div>
</header>

