.nav {
  width: 100%;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  height: 80px;
}

.nav a {
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
  padding: 30px 74px;
  width: 55px;
  color: #ffecd2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.nav a:hover{
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  color: #cf556c;
}

.activo {
 color: black;
 background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}