<div>
  <h1>Informacion 2</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis magnam aliquid sequi sunt quo dolorem, at in, sit veritatis numquam, nisi asperiores! Cumque voluptatibus enim est earum, corrupti voluptatem architecto!</p>
</div>