<div>
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nam laboriosam deleniti recusandae illum vitae quod repellat maxime? Delectus hic sapiente voluptas nesciunt voluptatibus accusamus voluptatum magnam, officia adipisci tempora.</p>  
</div>