<div>
  <h1>Informacion 4</h1>
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vitae at nisi id inventore reprehenderit officia ipsum iusto sunt repudiandae dolorum dolore voluptas repellat vel, incidunt illo rerum blanditiis? Amet.
  </p>
</div>
</div>