<div>
  <a [routerLink]="['inicio']" routerLinkActive="activo">Inicio </a>
  <a [routerLink]="['info1']" routerLinkActive="activo">Informacion 1</a>
  <a [routerLink]="['info2']" routerLinkActive="activo">Informacion 2</a>
  <a [routerLink]="['info3']" routerLinkActive="activo">Informacion 3</a>
  <a [routerLink]="['info4']" routerLinkActive="activo">Informacion 4</a>
</div>
