div {
  width: 15%;
  height: 100%;
  float: left;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  text-align: center;
  padding: bottom 0;
  margin-bottom: 0;

}

div a {
  display: block;
  padding: 40px 20px;
  text-decoration: none;
  border-bottom: 2px solid #fbc2eb;
  font-size: 20px;
  color: rgb(125, 26, 206);
  font-family: Arial, Helvetica, sans-serif;
}
div a:hover{
  color: rgb(24, 110, 240);
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.activo {
  color: black;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
 }